.App {
  text-align: left;
  margin:20px 100px;
}

div.jumbotron {
  text-align: center;
}

div.jumbotron h1 {
  font-weight: bold;
}

form.file-form {
  width: 70%;
  margin: 0 auto;
}

form div.help {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}